.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

form {
    width: 500px;
    max-width: 500px;
    flex-direction: column;
}